.photo-viewer {
    width: 100vw;
    height: 100vh;
    z-index: 800;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .photo-viewer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        .photo-viewer-full-screen-button {
            display: flex;
            justify-content: flex-end;
            position: relative;
            left: 20px;
            cursor: pointer;
            z-index: 750;
        }
        .photo-viewer-image-item {
            background: rgb(248, 248, 248);
            z-index: 750;
            >img {
                width: 100%;
                height: 100%;
            }
        }
        .photo-viewer-toolbar {
            height: 60px;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 750;
            .photo-viewer-navigation {
                margin: 0px 20px 0px 20px;
                width: 30px;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                .photo-viewer-navigation-left-arrow {
                    width: 12px;
                    .arrow-top-line {
                        border: 1px solid rgb(155, 155, 155);
                        background: rgb(155, 155, 155);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, 2.5px) rotate(45deg);
                    }
                    .arrow-bottom-line {
                        border: 1px solid rgb(155, 155, 155);
                        background: rgb(155, 155, 155);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, -2.5px) rotate(-45deg);
                    }
                }
                .photo-viewer-navigation-left-arrow-hover-on {
                    width: 12px;
                    .arrow-top-line {
                        border: 1px solid rgb(37, 37, 37);
                        background: rgb(37, 37, 37);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, 2.5px) rotate(45deg);
                        -webkit-animation: hoverArrowOn .5s linear;
                        -moz-animation: hoverArrowOn .5s linear;
                        -o-animation: hoverArrowOn .5s linear;
                        animation: hoverArrowOn .5s linear;
                    }
                    .arrow-bottom-line {
                        border: 1px solid rgb(37, 37, 37);
                        background: rgb(37, 37, 37);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, -2.5px) rotate(-45deg);
                        -webkit-animation: hoverArrowOn .5s linear;
                        -moz-animation: hoverArrowOn .5s linear;
                        -o-animation: hoverArrowOn .5s linear;
                        animation: hoverArrowOn .5s linear;
                    }
                }
                .photo-viewer-navigation-left-arrow-hover-off {
                    width: 12px;
                    .arrow-top-line {
                        border: 1px solid rgb(155, 155, 155);
                        background: rgb(155, 155, 155);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, 2.5px) rotate(45deg);
                        -webkit-animation: hoverArrowOff .5s linear;
                        -moz-animation: hoverArrowOff .5s linear;
                        -o-animation: hoverArrowOff .5s linear;
                        animation: hoverArrowOff .5s linear;
                    }
                    .arrow-bottom-line {
                        border: 1px solid rgb(155, 155, 155);
                        background: rgb(155, 155, 155);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, -2.5px) rotate(-45deg);
                        -webkit-animation: hoverArrowOff .5s linear;
                        -moz-animation: hoverArrowOff .5s linear;
                        -o-animation: hoverArrowOff .5s linear;
                        animation: hoverArrowOff .5s linear;
                    }
                }
                .photo-viewer-navigation-right-arrow {
                        width: 12px;
                    .arrow-top-line {
                        border: 1px solid rgb(155, 155, 155);
                        background: rgb(155, 155, 155);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, 2.5px)  rotate(-45deg);
                    }
                    .arrow-bottom-line {
                        border: 1px solid rgb(155, 155, 155);
                        background: rgb(155, 155, 155);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, -2.5px) rotate(45deg);
                    }
                }
                .photo-viewer-navigation-right-arrow-hover-on {
                        width: 12px;
                    .arrow-top-line {
                        border: 1px solid rgb(37, 37, 37);
                        background: rgb(37, 37, 37);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, 2.5px)  rotate(-45deg);
                        -webkit-animation: hoverArrowOn .5s linear;
                        -moz-animation: hoverArrowOn .5s linear;
                        -o-animation: hoverArrowOn .5s linear;
                        animation: hoverArrowOn .5s linear;
                    }
                    .arrow-bottom-line {
                        border: 1px solid rgb(37, 37, 37);
                        background: rgb(37, 37, 37);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, -2.5px) rotate(45deg);
                        -webkit-animation: hoverArrowOn .5s linear;
                        -moz-animation: hoverArrowOn .5s linear;
                        -o-animation: hoverArrowOn .5s linear;
                        animation: hoverArrowOn .5s linear;
                    }
                }
                .photo-viewer-navigation-right-arrow-hover-off {
                        width: 12px;
                    .arrow-top-line {
                        border: 1px solid rgb(155, 155, 155);
                        background: rgb(155, 155, 155);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, 2.5px)  rotate(-45deg);
                        -webkit-animation: hoverArrowOff .5s linear;
                        -moz-animation: hoverArrowOff .5s linear;
                        -o-animation: hoverArrowOff .5s linear;
                        animation: hoverArrowOff .5s linear;
                    }
                    .arrow-bottom-line {
                        border: 1px solid rgb(155, 155, 155);
                        background: rgb(155, 155, 155);
                        height: 12px;
                        width: 0px;
                        transform: translate(5px, -2.5px) rotate(45deg);
                        -webkit-animation: hoverArrowOff .5s linear;
                        -moz-animation: hoverArrowOff .5s linear;
                        -o-animation: hoverArrowOff .5s linear;
                        animation: hoverArrowOff .5s linear;
                    }
                }
            }
            .photo-viewer-close-wrapper {
                display: flex;
                width: 50px;
                margin: 0px 27px 0px 20px;
                cursor: pointer;
                .photo-viewer-close {
                    .close-first-line {
                        border: 1px solid rgb(155, 155, 155);
                        background: rgb(155, 155, 155);
                        height: 12px;
                        transform: translate(7px, 5.5px) rotate(45deg);
                    }
                    .close-second-line {
                        border: 1px solid rgb(155, 155, 155);
                        background: rgb(155, 155, 155);
                        height: 12px;
                        transform: translate(7px, -8px) rotate(-45deg);
                    }
                }
            }
            .photo-viewer-close-wrapper-hover-on {
                display: flex;
                width: 50px;
                margin: 0px 27px 0px 20px;
                cursor: pointer;
                .photo-viewer-close {
                    .close-first-line {
                        border: 1px solid rgb(37, 37, 37);
                        background: rgb(37, 37, 37);
                        height: 12px;
                        transform: translate(7px, 5.5px) rotate(45deg);
                        -webkit-animation: hoverArrowOn .5s linear;
                        -moz-animation: hoverArrowOn .5s linear;
                        -o-animation: hoverArrowOn .5s linear;
                        animation: hoverArrowOn .5s linear;
                    }
                    .close-second-line {
                        border: 1px solid rgb(37, 37, 37);
                        background: rgb(37, 37, 37);
                        height: 12px;
                        transform: translate(7px, -8px) rotate(-45deg);
                        -webkit-animation: hoverArrowOn .5s linear;
                        -moz-animation: hoverArrowOn .5s linear;
                        -o-animation: hoverArrowOn .5s linear;
                        animation: hoverArrowOn .5s linear;
                    }
                }
            }
            .photo-viewer-close-wrapper-hover-off {
                display: flex;
                width: 50px;
                margin: 0px 27px 0px 20px;
                cursor: pointer;
                .photo-viewer-close {
                    .close-first-line {
                        border: 1px solid rgb(155, 155, 155);
                        background: rgb(155, 155, 155);
                        height: 12px;
                        transform: translate(7px, 5.5px) rotate(45deg);
                        -webkit-animation: hoverArrowOff .5s linear;
                        -moz-animation: hoverArrowOff .5s linear;
                        -o-animation: hoverArrowOff .5s linear;
                        animation: hoverArrowOff .5s linear;
                    }
                    .close-second-line {
                        border: 1px solid rgb(155, 155, 155);
                        background: rgb(155, 155, 155);
                        height: 12px;
                        transform: translate(7px, -8px) rotate(-45deg);
                        -webkit-animation: hoverArrowOff .5s linear;
                        -moz-animation: hoverArrowOff .5s linear;
                        -o-animation: hoverArrowOff .5s linear;
                        animation: hoverArrowOff .5s linear;
                    }
                }
            }
        }
    }
}    

.fullscreen-outer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .fullscreen-close-button {
        width: calc(100% - 20px);
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        .small-screen {
            cursor: pointer;
        }
    }
    .fullscreen-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .fullscreen-photo-viewer-image-item {
            width: 70%;
            >img{
                width: 100%;
                height: 100%;
            }
        }
        .photo-viewer-navigation-left-arrow {
            width: 12px;
            cursor: pointer;
            .arrow-top-line {
                border: 1px solid rgb(155, 155, 155);
                background: rgb(155, 155, 155);
                height: 12px;
                width: 0px;
                transform: translate(5px, 3px) rotate(45deg);
            }
            .arrow-bottom-line {
                border: 1px solid rgb(155, 155, 155);
                background: rgb(155, 155, 155);
                height: 12px;
                width: 0px;
                transform: translate(5px, -3px) rotate(-45deg);
            }
        }
        .photo-viewer-navigation-left-arrow-hover-on {
            width: 12px;
            cursor: pointer;
            .arrow-top-line {
                border: 1px solid rgb(37, 37, 37);
                background: rgb(37, 37, 37);
                height: 12px;
                width: 0px;
                transform: translate(5px, 3px) rotate(45deg);
                -webkit-animation: hoverArrowOn .5s linear;
                -moz-animation: hoverArrowOn .5s linear;
                -o-animation: hoverArrowOn .5s linear;
                animation: hoverArrowOn .5s linear;
            }
            .arrow-bottom-line {
                border: 1px solid rgb(37, 37, 37);
                background: rgb(37, 37, 37);
                height: 12px;
                width: 0px;
                transform: translate(5px, -3px) rotate(-45deg);
                -webkit-animation: hoverArrowOn .5s linear;
                -moz-animation: hoverArrowOn .5s linear;
                -o-animation: hoverArrowOn .5s linear;
                animation: hoverArrowOn .5s linear;
            }
        }
        .photo-viewer-navigation-left-arrow-hover-off {
            width: 12px;
            cursor: pointer;
            .arrow-top-line {
                border: 1px solid rgb(155, 155, 155);
                background: rgb(155, 155, 155);
                height: 12px;
                width: 0px;
                transform: translate(5px, 3px) rotate(45deg);
                -webkit-animation: hoverArrowOff .5s linear;
                -moz-animation: hoverArrowOff .5s linear;
                -o-animation: hoverArrowOff .5s linear;
                animation: hoverArrowOff .5s linear;
            }
            .arrow-bottom-line {
                border: 1px solid rgb(155, 155, 155);
                background: rgb(155, 155, 155);
                height: 12px;
                width: 0px;
                transform: translate(5px, -3px) rotate(-45deg);
                -webkit-animation: hoverArrowOff .5s linear;
                -moz-animation: hoverArrowOff .5s linear;
                -o-animation: hoverArrowOff .5s linear;
                animation: hoverArrowOff .5s linear;
            }
        }
        .photo-viewer-navigation-right-arrow {
            width: 12px;
            cursor: pointer;
            .arrow-top-line {
                border: 1px solid rgb(155, 155, 155);
                background: rgb(155, 155, 155);
                height: 12px;
                width: 0px;
                transform: translate(5px, 3px)  rotate(-45deg);
            }
            .arrow-bottom-line {
                border: 1px solid rgb(155, 155, 155);
                background: rgb(155, 155, 155);
                height: 12px;
                width: 0px;
                transform: translate(5px, -3px) rotate(45deg);
            }
        }
        .photo-viewer-navigation-right-arrow-hover-on {
            width: 12px;
            cursor: pointer;
            .arrow-top-line {
                border: 1px solid rgb(37, 37, 37);
                background: rgb(37, 37, 37);
                height: 12px;
                width: 0px;
                transform: translate(5px, 3px)  rotate(-45deg);
                -webkit-animation: hoverArrowOn .5s linear;
                -moz-animation: hoverArrowOn .5s linear;
                -o-animation: hoverArrowOn .5s linear;
                animation: hoverArrowOn .5s linear;
            }
            .arrow-bottom-line {
                border: 1px solid rgb(37, 37, 37);
                background: rgb(37, 37, 37);
                height: 12px;
                width: 0px;
                transform: translate(5px, -3px) rotate(45deg);
                -webkit-animation: hoverArrowOn .5s linear;
                -moz-animation: hoverArrowOn .5s linear;
                -o-animation: hoverArrowOn .5s linear;
                animation: hoverArrowOn .5s linear;
            }
        }
        .photo-viewer-navigation-right-arrow-hover-off {
            width: 12px;
            cursor: pointer;
            .arrow-top-line {
                border: 1px solid rgb(155, 155, 155);
                background: rgb(155, 155, 155);
                height: 12px;
                width: 0px;
                transform: translate(5px, 3px)  rotate(-45deg);
                -webkit-animation: hoverArrowOff .5s linear;
                -moz-animation: hoverArrowOff .5s linear;
                -o-animation: hoverArrowOff .5s linear;
                animation: hoverArrowOff .5s linear;
            }
            .arrow-bottom-line {
                border: 1px solid rgb(155, 155, 155);
                background: rgb(155, 155, 155);
                height: 12px;
                width: 0px;
                transform: translate(5px, -3px) rotate(45deg);
                -webkit-animation: hoverArrowOff .5s linear;
                -moz-animation: hoverArrowOff .5s linear;
                -o-animation: hoverArrowOff .5s linear;
                animation: hoverArrowOff .5s linear;
            }
        }
    }
}

@-webkit-keyframes hoverArrowOn {
    from{
        border: 1px solid rgb(155, 155, 155);
        background: rgb(155, 155, 155);
    }
    to{
        border: 1px solid rgb(37, 37, 37);
        background: rgb(37, 37, 37);
    }
}
@-moz-keyframes hoverArrowOn {
    from{
        border: 1px solid rgb(155, 155, 155);
        background: rgb(155, 155, 155);
    }
    to{
        border: 1px solid rgb(37, 37, 37);
        background: rgb(37, 37, 37);
    }
}
@-o-keyframes hoverArrowOn {
    from{
        border: 1px solid rgb(155, 155, 155);
        background: rgb(155, 155, 155);
    }
    to{
        border: 1px solid rgb(37, 37, 37);
        background: rgb(37, 37, 37);
    }
}
@keyframes hoverArrowOn {
    from{
        border: 1px solid rgb(155, 155, 155);
        background: rgb(155, 155, 155);
    }
    to{
        border: 1px solid rgb(37, 37, 37);
        background: rgb(37, 37, 37);
    }
}

@-webkit-keyframes hoverArrowOff {
    from{
        border: 1px solid rgb(37, 37, 37);
        background: rgb(37, 37, 37);
    }
    to{
        border: 1px solid rgb(155, 155, 155);
        background: rgb(155, 155, 155);
    }
}
@-moz-keyframes hoverArrowOff {
    from{
        border: 1px solid rgb(37, 37, 37);
        background: rgb(37, 37, 37);
    }
    to{
        border: 1px solid rgb(155, 155, 155);
        background: rgb(155, 155, 155);
    }
}
@-o-keyframes hoverArrowOff {
    from{
        border: 1px solid rgb(37, 37, 37);
        background: rgb(37, 37, 37);
    }
    to{
        border: 1px solid rgb(155, 155, 155);
        background: rgb(155, 155, 155);
    }
}
@keyframes hoverArrowOff {
    from{
        border: 1px solid rgb(37, 37, 37);
        background: rgb(37, 37, 37);
    }
    to{
        border: 1px solid rgb(155, 155, 155);
        background: rgb(155, 155, 155);
    }
}
