.blog-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .blog-navigation-loading-error {
        width: calc(100% - 40px);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 20px 0px 20px;
        text-align: center;
        background: rgb(248, 248, 248);
    }
    .blog-navigation-prev {
        display: flex;
        align-items: center;
        cursor: pointer;
        .blog-navigation-image {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            overflow: hidden; 
            >img {
                height: 70px;
            }
        }
        .blog-navigation-info-wrapper {
            padding-left: 15px;
        }
    }
    .blog-navigation-next {
        display: flex;
        align-items: center;
        cursor: pointer;
        .blog-navigation-image {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            overflow: hidden; 
            >img {
                height: 70px;
            }
        }
        .blog-navigation-info-wrapper {
            padding-right: 15px;
        }
    }
}
